= simple_form_for(@student, validate: true, remote: true) do |form|
  = form.input :name, label: 'Name'
  = form.input :surname, label: 'Surname'
  = form.input :birthdate, as: :date_picker, start_year: Date.today.year - 90,
                    label: 'Birthdate', id: :student_birthdate, placeholder: 'dd/mm/yyyy'
  = form.input :email, label: 'Email'
  = form.submit
