#student-modal.modal.fade{:role => "dialog"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"} ×
        %h4.modal-title Student form
      .modal-body
        = render 'form'
        .form-errors
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
