%tr
  %td= student.surname
  %td= student.name
  %td= student.group
  %td= format_russian_date(student.birthdate)
  %td= student.email
  %td= format_russian_datetime(student.registered_at)
  %td= student.avg_rating
  %td= link_to 'Show', student
  %td= link_to 'Edit', edit_student_path(student)
  %td= link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure?' }
