$('.students-tbody').append('<%= escape_javascript(render "row", student: @student) %>');
$('.students-count').html('(' + (parseInt($('.students-count').html().match(/\d+/)[0]) + 1) + ')');
$("#student-modal").modal('hide');
$('.modal-backdrop').remove();

