%p#notice= notice
%h1
  Students
  %span.students-count (#{@students.size})
%table.table.table-striped
  %thead
    %tr
      %th Surname
      %th Name
      %th Group
      %th Birthdate
      %th Email
      %th Registered at
      %th Avg rating
      %th{:colspan => "3"}
  %tbody.students-tbody
    = render partial: "row", collection: @students, as: :student
%br/

= link_to "New", new_student_path, remote: true, class: "btn btn-success new-student-btn"

#new_student_dialog_placeholder
