%p#notice= notice
%p
  %strong Name:
  = @student.name
%p
  %strong Surname:
  = @student.surname
%p
  %strong Group:
  = @student&.group
%p
  %strong Birthdate:
  = @student.birthdate
%p
  %strong Email:
  = @student.email
%p
  %strong Avg rating:
  = @student.avg_rating
= link_to 'Edit', edit_student_path(@student)
|
= link_to 'Back', students_path
